* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body {
    background-color: #201e25 !important;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    top: 0;
}

.headerItem {
    margin: 0 1em 0 0;
}

.headerTxt{
    color: white;
}

.cardsTitles {
    opacity: 60%;
}

.moviesDiv {
    padding-bottom: 2em;
}

.movieTitle {
    font-weight: 800;
}

.likeIco {
    margin-left: 0.5em;
}

.likeIco:hover {
    color: #d63232;
    cursor: pointer;
}

.ratingStars:hover {
    color: #FFD700;
}




.footer {
    height: 20vh;
    background-color: cadetblue;
}